@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #fafdff;
}

::selection {
    color: rgb(70, 93, 255);
    background: rgba(70, 93, 255, 0.15);
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  background: rgba(238, 242, 247) !important;
  ;
  border-bottom: 1px solid #e7e9eb !important;
  font-family: "Inter", sans-serif !important;
  color: #4c4c5c80 !important;
  text-align: left !important;
}

.apexcharts-tooltip-text {
  font-family: "Inter", sans-serif !important;
  color: #4c4c5c80 !important;
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  font-family: "Inter", sans-serif !important;
  background-color: #fff !important;
  border: 1px solid #e7e9eb !important;
  box-shadow: 0px 0px 35px 0px rgba(104, 134, 177, 0.15);
  color: #4c4c5c;
}

.apexcharts-xaxistooltip:after,
.apexcharts-xaxistooltip:before {
  border: 0 !important;
}

.apexcharts-menu {
  background: #fff !important;
  padding: 0.25rem 0.25rem !important;
  box-shadow: 0px 0px 35px 0px rgba(104, 134, 177, 0.15) !important;
  border: 1 solid #e7e9eb !important;
  text-align: center !important;
  font-family: "Inter", sans-serif !important;
  color: #4c4c5c;
}

.apexcharts-menu .apexcharts-menu-item:hover {
  color: #4c4c5c !important;
  background-color: #f6f7fb !important;
}

.apexcharts-gridline {
    pointer-events: none;
    stroke: #e7e9eb;
    stroke-dasharray: 3;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
    height: 37.1px;
    background-color: #fff;
    outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: #4c4c5c;
    text-align: left;
    font-size: 0.8125rem;
    font-family: "Inter", 'sans-serif';
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #a1a9b1 transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #a1a9b1 transparent !important;
    border-width: 0 5px 5px 5px !important;
}

.select2-results__option {
    padding: 6px 12px;
    font-size: 0.8125rem;
    color: #4c4c5c;
    font-family: "Inter", 'sans-serif';
}

.select2-dropdown {
    border: 1px solid #e7e9eb;
    box-shadow: 0px 0px 35px 0px rgba(104, 134, 177, 0.15);
    background-color: #fff;
    z-index: 1056;
}

.select2-results__options {
    scrollbar-width: thin;
}

.select2-container--default .select2-results__option--selected {
    background-color: #fff;
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #4c4c5c;
    border-radius: 0.3rem;
    font-size: 0.8125rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #465dff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
    color: #4c4c5c;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #465dff;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 36px;
    padding-right: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 1px;
    left: auto;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #465dff;
    color: #fff;
}


.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-month {
    color: #a1a9b1;
    fill: #a1a9b1;
    padding: 5px;
    display: flex;
    align-items: center;
}

.flatpickr-current-month{
    font-size: 110%;
    font-family: "Inter", 'sans-serif';
}

.numInputWrapper:hover,
.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: transparent;
}

.flatpickr-weekdays {
    background-color: #f6f7fb;
}

span.flatpickr-weekday, .flatpickr-day, .flatpickr-current-month input.cur-year[disabled], .flatpickr-current-month input.cur-year[disabled]:hover, .flatpickr-time input, .flatpickr-time .flatpickr-time-separator, .flatpickr-time .flatpickr-am-pm{
    color: #4c4c5c;
    fill: #4c4c5c;
    font-family: "Inter", 'sans-serif';
}

.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
    color: #4c4c5c;
}

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus{
    background: #f6f7fb;
    border-color:#f6f7fb;
}

.flatpickr-day.inRange {
    box-shadow: -5px 0 0 #f6f7fb, 5px 0 0 #f6f7fb;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
    background: #465dff;
    border-color: #465dff;
}